/*Universal*/

body {
    font-family: 'Raleway', sans-serif!important;
    padding-top: 50px;
    font-weight: 400;
    color: #002E65!important;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

a {
    color: #002E65;
}

.navbar-default .navbar-nav li a {
    color: #002E65;
}

.navbar-default .navbar-brand {
    color: #002E65;
}

.quote {
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #002E65!important;
    font-family: 'Raleway', sans-serif!important;
}

.btn-primary a {
    color: white;
    text-decoration: none;
}

.btn-primary:hover {
    opacity: 0.7;
}


#panel,
#panel_2,
#panel_3 {
    display: none;
}

.show_content {
    margin-top: 100px;
}

.drop_btn {
    cursor: pointer;
    padding: 40px;
    border-radius: 50%;
    background-color: #178acc;
    color: white;
    border: 1px solid #178acc!important;
    border-style: none;
    margin-bottom: 20px;
    font-size: 2rem;
}


/*--------- Base.HTML ---------*/

#navbar {
    padding: 10px;
}

.navbar-header {
    padding: 10px;
}

.navbar-toggle {
    background-color: #178acc;
}

#banner-image {
    background-image: url("https://images.unsplash.com/3/doctype-hi-res.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1346&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    margin-top: 20px;
}

.banner-text {
    text-align: center;
    font-weight: 300;
    font-size: 3rem;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 25px;
}

.navbar {
    background-image: none!important;
    border-bottom: none!important;
}

.navbar-default {
    background-color: white!important;
    border-color: none!important;
}

.navbar-default .badge {
    background-color: #178acc;
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: #178acc;
}

.main-header {
    font-weight: 300;
    font-size: 4rem;
}

@keyframes text-highlight {
    0% {
        opacity: 1
    }
    10% {
        opacity: .9
    }
    20% {
        opacity: .8
    }
    30% {
        opacity: .7
    }
    40% {
        opacity: .6
    }
    50% {
        opacity: .4
    }
    60% {
        opacity: .5
    }
    70% {
        opacity: .6
    }
    80% {
        opacity: .7
    }
    90% {
        opacity: .8
    }
    100% {
        opacity: .9
    }
}

.highlight {
    animation-name: text-highlight;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

#search-btn {
    text-align: center;
    margin: 50px 0;
}

.alert-success {
    text-align: center;
}

#message-text {
    margin-top: 50px;
}


footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;

}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.test {
    color: red;
}

/*-------Service.HTML----------*/

#services-page {
    margin-top: 50px;
}

.product-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 350px;
}

.guide {
    text-align: center;
    margin-top: 40px;
}

.input_search {
    width: 25%;
    height: 40px;
    text-align: center;
}

.show_content p {
    font-size: 2rem;
}

.example-img img {
    width: 300px;
    height: 350px;
}


/*-------Cart.HTML----------*/

.product-image-cart {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: auto;
    height: 150px;
    margin: 0 auto;
}

.caption p {
    word-wrap: break-word;
}

.display {
    text-align: left;
}

.btn .btn-success a {
    color: white;
}

.form-inline {
    margin-top: 50px;
}

#checkout-total {
    margin-top: 100px;
    text-align: center;
}

.glyphicon-ok-sign {
    padding-right: 5px;
}

.service-description-cart {
    min-height: 80px;
}

/*--------- Review / add_review.HTML---------*/

.btn-review {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.btn-review .btn-primary {
    margin: 10px;
}

.add_review h2 {
    margin-bottom: 50px;
}

.add_review input {
    width: 100%;
}

textarea {
    width: 100%;
    height: 80px;
}

.card-body {
    min-height: 150px;
}


/*-------Quote.HTML----------*/

.email-heading {
    margin-bottom: 50px;
    font-size: 2.5rem;
}

.notification {
    margin-bottom: 30px;
}

/*-----MEDIA QUERIES ---------*/

@media only screen and (max-width: 1025px) {

    #banner-image {
        height: 600px;
    }

    .banner-text {
        top: 25%;
        width: 80%;
    }

    .product-image {
        height: 400px;
        width: 90%;
        margin: auto;
    }
    
    .service-text {
        width:80%;
        margin: auto;
    }
    
    .service-text h2 {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 769px) {

    #banner-image {
        height: 400px;
    }

    .banner-text {
        top: 25%;
        width: 80%;
        font-size: 1.8rem;
        padding: 10px;
    }

    .product-image {
        background-size: contain;
    }

    .col_review {
        width: 80%;
        margin-left: 20px;
    }

    h2 {
        margin: 0 0;
    }
    
    .example-img img {
        width: 150px;
        height: 150px;
}
    
    
}

@media only screen and (max-width: 500px) {

    #banner-image {
        height: 350px;
    }

    .banner-text {
        top: 30%;
        font-size: 1.3rem;
        padding: 8px;
    }

    .quote {
        font-size: 0.6rem;
    }

    .search-box-text {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }

    .main-header {
        margin: inherit;
        font-size: 2rem;
    }
    .guide {
        margin-top: 0;
    }

    .drop_btn {
        font-size: 1.5rem;
        margin-top: 15px;
    }

    .show_content p {
        font-size: 1.5rem;
        margin: inherit;
        margin-bottom: 5px;
        padding: 0 5px;
    }

    #services-page {
        margin-top: 0;
        padding: 0 5px;
    }

    .input_search {
        display: block;
        margin: auto;
        width: 80%;
        margin-bottom: 5px;
    }
    
     .service-text {
        width:90%;
    }

    .product-image {
        background-size: cover;
        height: 200px;
    }

    #panel,
    #panel_2,
    #panel_3 {
        display: block;
    }

    #message-text {
        padding: 0 10px;
    }

}

@media only screen and (max-width: 360px) {

    .banner-text {
        top: 38%;
    }

}